@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme inline {
  /* Configure your theme variables here */
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --color-primary-500: oklch(0.84 0.18 117.33);
  --color-Main: #121212;
  --spacing: 0.25rem;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

:root {
  --particle-color: rgb(18, 18, 18); /* Light mode */
}

.dark {
  --particle-color: #ffff; /* Dark mode */
}

b{
  color:rgb(98, 0, 255)
}

h1 {
  font-family: "Kanit", sans-serif;
}

h2, h3 {
  font-family: "Bebas Neue", sans-serif;
}

body {
  font-family: "Kanit", sans-serif;
}

p, span {
  font-family: "Kanit";
}
